html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.comment p {
  margin: 10px 0;
}

.comment a {
  font-weight: bold;
  color: #3182ce;
}

.comment a:hover {
  color: #63b3ed;
  text-decoration: underline;
}
