html,
body {
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* React Markdown styling for submissions and comments */

.comment {
  width: 100%;
  max-width: 100%;
}

.comment p {
  margin: 10px 0;
  font-weight: 400;
}

.comment h1,
.comment h2,
.comment h3 {
  margin: 10px 0px;
  font-weight: bold;
}

.comment a {
  font-weight: bold;
  color: #3475be;
}

.comment a:hover {
  color: #63b3ed;
  text-decoration: underline;
}

.comment ul,
.comment ol {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.comment pre {
  overflow-x: auto;
  max-width: 95%;
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 2px;
}

.css-0 {
  max-width: 100%;
}
